<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedRestaurant">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedRestaurant.restaurantName}}<ion-icon name="beer"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <h2> Rate your {{selectedDish.dishName}} out of 5 stars: </h2>
  </div>
  <ion-title style="text-align: center; padding-bottom: 30px; padding-top: 30px;">
    <ion-icon name="star" large (click)="assignValue(1)" *ngIf="numStars>=1"></ion-icon>
    <ion-icon name="star-outline" large (click)="assignValue(1)" *ngIf="numStars<1"></ion-icon>
    <ion-icon name="star" large (click)="assignValue(2)" *ngIf="numStars>=2"></ion-icon>
    <ion-icon name="star-outline" large (click)="assignValue(2)" *ngIf="numStars<2"></ion-icon>
    <ion-icon name="star" large (click)="assignValue(3)" *ngIf="numStars>=3"></ion-icon>
    <ion-icon name="star-outline" large (click)="assignValue(3)" *ngIf="numStars<3"></ion-icon>
    <ion-icon name="star" large (click)="assignValue(4)" *ngIf="numStars>=4"></ion-icon>
    <ion-icon name="star-outline" large (click)="assignValue(4)" *ngIf="numStars<4"></ion-icon>
    <ion-icon name="star" large (click)="assignValue(5)" *ngIf="numStars>=5"></ion-icon>
    <ion-icon name="star-outline" large (click)="assignValue(5)" *ngIf="numStars<5"></ion-icon>
  </ion-title>
  <div style="text-align: center;">
    <button ion-button color="default" (click)="submitRating()">Submit Rating</button>
  </div>
</ion-content>
