<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedRestaurant">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedRestaurant.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center>
    {{selectedRestaurant.restaurantName}}
    <ion-icon name="beer"></ion-icon>
  </h3>
  <ion-list>
    <div ion-item *ngFor="let category of categories">
      {{category.categoryName}}
      <ion-list>
        <div *ngFor="let dish of dishes">
            <div ion-item *ngIf="dish.categoryId == category.categoryId">
              ${{dish.price}} {{dish.dishName}}
            </div>
        </div>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
