<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Universal Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2> Manager: {{user.username}}</h2>
  <!--
  <ion-list>
    <div ion-item *ngFor="let category of categories">
      {{category.categoryName}}
      <ion-list>
        <div *ngFor="let dish of dishes">
            <div ion-item *ngIf="dish.categoryId == category.categoryId">
              ${{dish.price}} {{dish.dishName}}
            </div>
        </div>
      </ion-list>
    </div>
  </ion-list>
  <!-->
</ion-content>