<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Universal Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2> Manager: {{user.username}}</h2>
  <button ion-button icon-right round outline (click)="addDish()">
    Add New Dish 
    <ion-icon name="add" large></ion-icon>
  </button>
  <button ion-button icon-center round (click)="refreshPage()">
    <ion-icon name="refresh" large></ion-icon>
  </button>
  <ion-list>
    <div *ngFor="let category of categories">
      <div>
        <ion-item style="text-transform: uppercase; background-color: lightcoral;" *ngIf="category.display">
          {{category.categoryName}}
          <ion-icon name="remove" item-right (click)="toggleDisplay(category)"></ion-icon>
        </ion-item>
        <ion-item style="text-transform: uppercase; background-color: lightcoral;" *ngIf="!category.display">
          {{category.categoryName}}
          <ion-icon name="add" item-right (click)="toggleDisplay(category)"></ion-icon>
        </ion-item>
      </div>
      <ion-list *ngIf="category.display">
        <div *ngFor="let dish of dishes">
              <ion-item-sliding *ngIf="dish.categoryId == category.categoryId">
                <ion-item>
                  <h2 item-left>
                    {{dish.price | currency:'USD':true:'1.2-2'}}
                  </h2>
                  <h2 style="padding-left: 20px">
                    {{dish.dishName}}
                  </h2>
                </ion-item>
                <ion-item-options>
                  <button ion-button color="primary" (click)="editDish(dish)"><ion-icon large name="hammer"></ion-icon></button>
                  <button ion-button color="danger" (click)="deleteDish(dish)"><ion-icon large name="trash"></ion-icon></button>
                </ion-item-options>
              </ion-item-sliding>
        </div>
      </ion-list>
    </div>
  </ion-list>
</ion-content>