<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Universal Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2> Manager: {{user.username}}</h2>
  <button ion-button icon-right round outline (click)="addDish()">
    Add New Dish 
    <ion-icon name="add" large></ion-icon>
  </button>
  <button ion-button icon-center round (click)="refreshPage()">
    <ion-icon name="refresh" large></ion-icon>
  </button>
  <ion-list>
    <div ion-item *ngFor="let category of categories">
      {{category.categoryName}}
      <ion-list>
        <div *ngFor="let dish of dishes">
            <div ion-item *ngIf="dish.categoryId == category.categoryId">
              ${{dish.price}} {{dish.dishName}}
              <ion-icon name="hammer" item-left (click)="editDish(dish)"></ion-icon>
              <ion-icon name="trash" item-right (click)="deleteDish(dish)"></ion-icon>
            </div>
        </div>
      </ion-list>
    </div>
  </ion-list>
</ion-content>